
@{
    ViewBag.Title = "Other Error";
}

<h1>Other Error</h1>
<p>
    There was an error on the server. Either return to the
    <a href="/">Homepage</a>
    @Html.ActionLink("Homepage", "Index", "Item")
    or choose a different selection from the menu.
    We have been notified about the problem and will work
    on it immediately.
</p>

